// utilities
@import "./styles/utilities/shortcuts";
@import "./styles/utilities/animations";
@import "./styles/utilities/default";
@import "./styles/utilities/mixins";

// website styles
@import "./styles/components/authPage";
@import "./styles/components/authRegister";
@import "./styles/components/authLogin";

// media queries
// @import "./styles/mq_main.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Afacad Flux", sans-serif;
// font-family: "Chakra Petch", sans-serif;
  overflow-x: hidden;
}