.main {
  user-select: none;
  position: relative;
  width: 100%;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../../images/mainBG.png");
  @include imagePosition;

  &__logo {
    margin: 1rem auto;
    width: 60px;
  }

  // NAVIGATION
  &__nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 998;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100px;
    background-color: $black;
    overflow-y: auto;
    transition: width 0.3s;

    &:hover {
      width: 240px;
      .main__nav-btn-text {
        position: static;
        transform: translateX(0%);
        opacity: 1;
      }
    }

    &--expanded {
      width: 240px;

      .main__nav-btn-text {
        position: static;
        transform: translateX(0%);
        opacity: 1;
      }
    }
  }

  &__general-container {
    height: 100%;
  }

  &__nav-btn {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: transparent;
    min-height: 40px;
    border-radius: 8px;
    padding: 1rem 2rem;
    margin: 1rem;
    color: $white;
    font-size: 2.5rem;
    transition: all 0.3s;
    overflow: hidden;

    &:hover {
      color: $primary;
      background-color: $white;
    }

    &--logout:hover {
      color: $red;
    }

    &--logout:hover .main__nav-btn-icon--normal {
      display: none;
    }

    &--logout:hover .main__nav-btn-icon--hover {
      display: block;
    }
  }
  &__nav-btn-icon {
    min-width: 35px; //remove "jumping" effect when hovering on navigation
    &--hover {
      display: none;
    }
  }
  &__nav-btn-text {
    position: absolute;
    margin-left: 0.5rem;
    overflow: hidden;
    transform: translateX(-200%);
    white-space: nowrap;
    text-align: left;
    opacity: 0;
    transition: transform 0.3s, opacity 0.1s;
  }

  // LOG OUT
  &__log-out {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__log-out-text {
    text-align: center;
    color: $white;
    padding: 0.25rem;
  }

  &__log-out-btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__log-out-button {
    color: $primary;
    padding: 1rem 2rem;margin: 1rem;
    background-color: $white;
    border-radius: 8px;

    &:hover {
      color: $white;
      background-color: $primary;
    }
  }
}
