@mixin formFocus {
  animation: formFocus 0.5s linear forwards;
  @keyframes formFocus {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
}

@mixin formChange {
  animation: formChange 0.5s ease-out forwards;
  @keyframes formChange {
    0% {
      scale: 0;
    }
    100% {
      scale: 1;
    }
  }
}

@mixin bounce {
  animation: bounce 5s ease-in-out infinite;
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    5% {
      transform: translateY(-10px);
    }
    10% {
      transform: translateY(0);
    }
  }
}

@mixin finishLoading {
  animation: finishLoading 2s ease-in-out forwards;
  @keyframes finishLoading {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@mixin cardStartAnimation {
  animation: cardStartAnimation 1s ease-in-out forwards;
  @keyframes cardStartAnimation {
    0% {
      transform: rotateY(360deg)
    }
    100% {
      transform: rotateY(0deg)
    }
  }
}