// Colors
$primary: #51C7F6;
$primaryHover: #1f8cb8;
$primaryTransparent: #51c7f688;
$red: #d12727;
$redHover: #aa1d1d;
$white: #FFFFFF;
$black: #202020;
$gray: #a8a3a3;
$cardC: #28c75d;
$cardB: #2895c7;
$cardA: #c22c2c;
$cardS: #e0dd31;